<div id="sign_up" class="modal">
                <div class="modal-content">
                  <h2>Create Account</h2>
                  <form class="col l12">
                  <h3>Your Info</h3>
                      <div class="row">
                        <div class="input-field col l6 s12">
                          <input placeholder="" id="first_name" type="text" class="validate">
                          <label for="first_name">First Name</label>
                      </div>
                      <div class="input-field col l6 s12">
                          <input placeholder="" id="last_name" type="text" class="validate">
                          <label for="last_name">Last Name</label>
                      </div>
                     </div>
                     <div class="row">
                        <div class="input-field col l6 s12">
                          <input placeholder="" id="email" type="email" class="validate">
                          <label for="email">Email</label>
                      </div>
                      <div class="input-field col l6 s12">
                          <input placeholder="" id="institute" type="text" class="validate">
                          <label for="institute">Institute</label>
                      </div>
                     </div>
                     <div class="row">
                        <div class="input-field col l6 s12">
                          <input placeholder="" id="country" type="text" class="validate">
                          <label for="country">Country</label>
                      </div>
                      </div>
                      <h3>Login Details</h3>
                      <div class="row">
                        <div class="input-field col l612 s12">
                          <input placeholder="" id="user_name" type="text" class="validate">
                          <label for="user_name">User Name</label>
                      </div>
                      </div>
                       <div class="row">
                        <div class="input-field col l612 s12">
                          <input placeholder="" id="password" type="password" class="validate">
                          <label for="password">Password</label>
                      </div>
                      </div>
                       <div class="row">
                        <div class="input-field col l612 s12">
                          <input placeholder="" id="confirm_password" type="password" class="validate">
                          <label for="confirm_password">Confim Password</label>
                      </div>
                      </div>
                      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Create Account</a>
              </form>
          </div>
           <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
          </div>
          </div>