 <footer class="page-footer light-blue darken-1 black-text">
            <div class="row">
              <div class="col offset-l1"><h5 class="white-text">Join us in LA! See you in... </h5>
              <br>
                <div class="countdown">
    <script src="/js/flipclock.js"></script>
                </div>
              </div>
              <div class="col offset-l2">
                <h5 class="white-text">Contact</h5>
                <ul style="font-size:1.3em">
                  <li><i class="material-icons white-text">phone</i><a class="grey-text text-lighten-3" href="#!">  +1 310-825-1408</a></li>
                  <li><i class="material-icons white-text">email</i><a class="grey-text text-lighten-3" href="#!">   iwadipcon2017@hsseas.ucla.edu</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            <!--© 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
            </div>
          </div>
        </footer>