<div id="forgot_password" class="modal">
                <div class="modal-content">
                  <h2>Forgot Password?</h2>
                  <p>Enter your e-mail address and click "Send". Your password will be emailed to you.</p>
                  <form class="col l12">
                    <div class="row">
                        <div class="input-field col l10  s10">
                          <input placeholder="" id="password" type="password" class="validate">
                          <label for="password">Password</label>
                      </div>
                      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Send</a>
                      </div>
              </form>
          </div>