<nav>
  <div class="nav-wrapper white black-text">
    <div class="row">
      <img class="brand-logo" id="logo" src='/img/iwa-logo.png'/> 
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons light-blue-text text-darken-4">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down ">
        <li><a href="/">Home</a></li>
        <li><a href="/welcome">Welcome</a></li>


        <li><a href="#" class="dropdown-button" data-activates='about-dropdown' data-hover="true" data-beloworigin="true" data-constrainWidth='false'>About</a></li>

       
        <ul id='about-dropdown' class='dropdown-content'>
        <li><a href="/about/dipcon">DIPCON</a></li>
          <li class="divider"></li>
          <li><a href="/about/themes">Topics</a></li>
          <li class="divider"></li>
          <li><a href="/about/committees">Committees</a></li>
        </ul>


	<li><a href="#" class="dropdown-button" data-activates='program-dropdown' data-hover="true" data-beloworigin="true" data-constrainWidth='false'>Program</a></li>
	<ul id='program-dropdown' class='dropdown-content'>
	  <li><a href="/program/overview">Program at a Glance</a></li>
	  <li class="divider"></li>
	  <li><a href="/program/speakers">Plenary Speakers</a></li>
	  <li class="divider"></li>
	  <li><a href="/program/artandenvironment">Art + Environment</a></li>
	  <li class="divider"></li> 
	  <li><a href="/program/tours">Technical Tours</a></li>
	  <li class="divider"></li>
	  <li><a href="/program/ywp">YWP</a></li>
	  <li class="divider"></li>
	  <li><a href="/program/social_events">Social Events</a></li>
	</ul>




	<li><a href="#" class="dropdown-button" data-activates='submission-dropdown' data-hover="true" data-beloworigin="true">Submission</a></li>
	 <ul id='submission-dropdown' class='dropdown-content'>
	 <li><a href="/submission/extended_abstract">Extended Abstract</a></li>
          <li class="divider"></li>
	  <li><a href="/submission/full_paper">Full Paper</a></li>
	   <li class="divider"></li>
	  <li><a href="/submission/presentation_guideline">Presentation Guideline</a></li>
	   <li class="divider"></li>
	  <li><a href="/submission/special_session">Workshop</a></li>

	 
        </ul>
          <li><a href="/registration">Registration</a></li>
          <li><a href="/venue">Venue</a></li>
          <li><a href="/exhibition_sponsors">Exhibition/Sponsors</a></li>
	  <li><a href="/local_info">Local Info</a></li>
    </ul>
          

    <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/welcome">Welcome</a></li>
        <li><a href="#" class="collapsible-header">About</a>
        <ul class="side-nav-submenu">
        <li><a href="/about/dipcon">DIPCON</a></li>
          <li><a href="/about/themes">Topics</a></li>
          <li><a href="/about/committees">Committees</a></li>
        </ul>
        </li>


        <li><a href="#">Program</a></li>
	<ul class="side-nav-submenu">
	  <li><a href="/program/overview">Program at a Glance</a></li>
	  <li><a href="/program/speakers">Plenary Speakers</a></li>
	  <li><a href="/program/artandenvironment">Art + Environment</a></li>
	  <li><a href="/program/tours">Tours</a></li>
	  <li><a href="/program/ywp">YWP</a></li>
	  <li><a href="/program/social_events">Social Events</a></li>
	</ul>


          <li><a href="#">Submission</a></li>
          <ul class="side-nav-submenu">
        <li><a href="/submission/extended_abstract">Extended Abstract</a></li>
          <li><a href="/submission/special_session">Workshop</a></li>
	  <li><a href="/submission/full_paper">Full Paper</a></li>

        </ul>
          <li><a href="/registration">Registration</a></li>
          <li><a href="/venue">Venue</a></li>
          <li><a href="/exhibition_sponsors">Exhibition/Sponsors</a></li>
          <li><a href="/social_events">Social Events</a></li>
	  <li><a href="/local_info">Local Info</a></li>

      </ul>
      </div>
    </div>
  </nav>
