<div id="edit" class="modal">
	<div class="modal-content">
	<h4>Add/Edit Reviewer Email</h4>

	<form>
		<input name="id" type="number" id="id" maxlength="4" required/>
		<input name="email" type="email" id="email" maxlength="40" required/>
	</form>
	<form/>
		<div style="margin:15px"><h6 style='color:#009ee7'>Abstract ID:</h6>
          <p>
            <input name="id" type="number" id="id" maxlength="4" required/>
          </p>
        </div>
        <div style="margin:15px"><h6 style='color:#009ee7'>Email:</h6>
          <p>
            <input name="email" type="email" id="email" maxlength="40" required/>
          </p>
        </div>
        <button class="waves-effect waves-light offset-s2 light-blue accent-4 btn" style='margin-left: 20%'>Submit</button>
        </form>

	
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
	</div>
</div> 