<!DOCTYPE html>
<head>
  <title>Art and Environment - 18th IWA International Conference</title>
  <% include partials/dependencies %>
  <link rel="stylesheet" href="/css/common.min.css" type='text/css'>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-93462907-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>


<body>

  <% include partials/header %>
  <main class="page">

    <div class="header-img">
      <img src="/img/lamps.jpg">
    </div>
    
   <div class="container">
      <h1 style="color: black">Art & Environment</h1>
      <h2 style="text-align: left">Special Exhibit on Arts and Photos for Environment</h2>
      <div style="margin-left: 150px">
      		<ul style="color: #009ee7">
      		  <li>UCLA Luskin Center, Optimist Room (Level 2)
		  </li>
		  <li>August 15, Tuesday, 5 – 6:30 pm
		  </li>
		  <li>Open to Public: You are all welcome!
		  </li>
		</ul>
	</div>
	<div class="row blockquote" style="margin-top: 40px">
        <div class="col l3 s4">
          <img style="padding-top: 25px; width: 100%" src='/img/uno.jpg'/>
          <p class="ack">Michael Stenstrom</p>
        </div>
        <blockquote class="col l9 s8 small-text">
Michael began his photographic second career when his mother obtained a small, 127-film Brownie camera with green stamps when he was in the first grade. From there it was uphill, taking pictures for his high school year book and of friends on special occasions. He obtained his first serious camera, a Minolta SRT-101, while in graduate school in 1973. Since then he has been taking pictures of environmental scenes, gushing bad water, landfills, treatment plants and aeration equipment.  He has published numerous pictures in technical journals and book covers. In recent years he has expanded into fine art photography, trying to show the contrast between beauty and decay. A lifelong goal is to influence environmental policy through pictures, in much the way W. Eugene Smith’s Minamata Bay pictures of mercury pollution victims impacted landmark environmental legislation in the 1970s. 

</blockquote>
</div>
     <div class="row blockquote">
        <div class="col l3 s4">
          <img style="padding-top: 25px; width: 100%" src='/img/dos.jpg'/>
          <p class="ack">Robert “Bob” Pitt</p>
        </div>
        <blockquote class="col l9 s8 small-text">
Bob is a modern-day polymath, producing creative work in many aspects of engineering as well as astronomy and photography. His recent trips to assist the Boeing Company at the Santa Susana Field Station has given Bob opportunities to visit notable California photographic sites, including Death Valley, the rocks of the Alabama Hills, Yucca Valley and is looking forward to showing the decay of the Salton Sea and its neighboring communities. 

</blockquote>
</div>

     <div class="row blockquote">
        <div class="col l3 s4">
          <img style="padding-top: 25px; width: 100%" src='/img/tres.png'/>
          <p class="ack">Teresa Young</p>
        </div>
        <blockquote class="col l9 s8 small-text">
Teresa has loved dance, art, environmental science and studying insects throughout her life. She learned dance and choreography at Eugene Loring’s American School of Dance and took master acting classes from Lee Strasberg. She has directed and staged plays and choreographed musicals at Los Angeles City College, independent Los Angeles theaters, and California Institute of Technology, where she taught professors and students how to act and dance. Through the financial support of the City of Los Angeles, she joined the Puppet Company for two years as a city employee in the Theater Arts Program Los Angeles. During this time she performed for approximately 500,000 people in the City of Los Angeles.  Afterwards, she went to Mount St. Mary’s College majoring in photography, the Art Center College of Design majoring in filmmaking and Wright State University in Dayton, Ohio majoring in wetland science. Meanwhile, she was Co-Founder and Board Member at Dayton Visual Arts Center, Southwest Ohio’s first local venue to exhibit regional, folk, and ethnic art and artists in partnership with NCR Corp. She worked for the Dayton Museum of Natural History painting murals for their displays. She received her M.S. degree from the UCLA Environmental Health Sciences department, studying populations of Cicindelidae (tiger beetles) in the Mugu Naval Base, Ventura. Presently, she volunteers in the San Gabriel Mountains Regional Conservancy and conducts several insect studies in the San Gabriel Mountains and Foothills. She also volunteers for the Whittier Narrow Natural Area, where she has been performing identification and analysis of insects for a five-year study.  Art is her home, her center and her connection to her family. 

</blockquote>
      </div>
</div>
</main>
  <% include partials/footer %>

</body>