<!DOCTYPE html>
<head>
	<title>Committees - 18th IWA International Conference</title>
	<% include partials/dependencies %>
    <link rel="stylesheet" href="/css/common.min.css" type='text/css'>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93462907-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body id="dipcon">
	<% include partials/header %>
	<main>
    <div class="header-img">
                    <img  src='/img/la2.png'/>
                </div>
        <div class="container">
            <div class="row">
                <div class="col l12 s12 m12">
                        <h1 class="col l5 s12 m5">Organizing Committee</h1>
                    <ul class="col offset-l1 l6 s12 m7">
                        <li>Michael K Stenstrom, UCLA</li>


                        <li>Mi-Hyun Park, UCLA</li>


                        <li>Richard Ambrose, UCLA</li>


                        <li>Madelyn J. Glickfeld, UCLA</li>


                        <li>Mark Gold, UCLA</li>


                        <li>Peter Kareiva, UCLA</li>


                        <li>I.H. Mel Suffet, UCLA</li>


                        <li>Xavier Swamikannu, UCLA</li>


                        <li>Eakalak Khan, NDSU</li>


                        <li>Christine Lee, NASA JPL</li>


                        <li>Eric Strecker, Geosyntec</li>


                        <li>Shahram Kharaghani, City of
                            Los Angeles</li>
                            <li>
                                Wing Tam, City of Los
Angeles
                            </li>
                        </ul>
                    </div>

                    <div class="col l12 m12 s12">
                        <h1 class="col l5 s12 m5">Program Committee</h1>
                        <ul class="col offset-l1 l6 s12 m7">
                            <li>Eva Abal (Australia)</li>
                            <li>Luis Alberto Bravo (Mexico)</li>
                            <li>Robert Davies-Colley (New Zealand)</li>
                            <li>Brian D’Arcy (UK)</li>
                            <li>Ray Earle (Ireland)</li>
                            <li>Atsushi Ichiki (Japan)</li>
                            <li>Lee-Hyung Kim (Korea)</li>
                            <li>Ralf Kunkel (Germany)</li>
                            <li>Xuyong Li (China)</li>
                            <li>Marla Maniquiz-Redillas(Philippines)</li>
                            <li>Fiona Napier (UK)</li>
                            <li>Mi-Hyun Park (USA)</li>
                            <li>Peter Schipper (Netherlands)</li>
                            <li>Michael K Stenstrom (USA)</li>
                            <li>Zorica Todorovic (UK)</li>
                            <li>Markus Venohr (Germany)</li>
                            <li>Xiaoyan Wang (China)</li>
                            <li>Cevza Melek Kazezyılmaz-Alhan (Turkey)</li>
                            <li>Katerina Schilling (Austria)</li>
                            <li>Fiona Regan (Ireland)</li>
                        </ul>
                    </div>
                    <div class="col l12 m12 s12">
                        <h1 class="col l5 s12 m5">Scientific Committee</h1>
                        <ul class="col offset-l1 l6 s12 m7">
                            <li>Thomas Ballestero, Univ. New
Hampshire</li>
                            <li>Michael Barrett, Univ. Texas Austin</li>
                            <li style=>Allen Davis, Univ. Maryland</li>
                            <li>Paul M. DiGiacomo, NOAA</li>
                            <li>Sarah Dorner, Polytechnique Montréal</li>
                            <li>Ferdi Hellweger, Northeastern Univ.</li>
                            <li>Edward Kolodziej, University of
Washington</li>
                            <li>Vladimir Novotny, Northeastern Univ.</li>
                            <li>Robert Pitt, Univ. Alabama</li>
                            <li>John E. Sansalone Univ. Florida</li>
                            <li>Kenneth Schiff, SCWRPP</li>
                            <li>Robert Traver, Villanova Univ.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        <% include partials/footer %>
    </body>