<!DOCTYPE html>
<head>
	<title>Contact - 18th IWA International Conference</title>
	<% include partials/dependencies %>
    <link rel="stylesheet" href="/css/common.min.css" type='text/css'>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93462907-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
	<% include partials/header %>
	<main>
    <div class='header-img'>
        <img  src='/img/lake.png'/>
    </div>
        <div class="container">
            <h1>Contact</h1>
            <div class="row contact-info">
                <div class="col l12 s12">
                    <h2>Tel</h2>
                    <p>+1 310-825-1408</p>
                </div>
                <div class="col l12 s12">
                    <h2>Fax</h2>
                    <p>+1 310-206-2222</p>
                </div>
                <div class="col l12 s12">
                    <h2>Email</h2>
                    <p><a href='mailto:iwadipcon2017@hsseas.ucla.edu'>iwadipcon2017@hsseas.ucla.edu</a></p>
                </div>
            </div>
        </div>
    </main>
  <% include partials/footer %>
</body>

