    <div class="row" id="dates">
        <div class="col l5 s12">
            <h1>Important Dates</h1>
        </div>
        <div class="col l7 s12">
            <ul>
                <li>
                    <h2 style="color: #bbdefb ">5th APRIL 2017 (Extension) </h2>
                    <p style="color: #bdbdbd">Deadline for abstract submission</p>
                </li>
                <li>
                    <h2 style="color: #bbdefb ">25th APRIL 2017</h2>
                    <p style="color: #bdbdbd">Notification of abstract acceptance</p>
                </li>
                <li>
                    <h2 style="color: #bbdefb ">15th JUNE 2017</h2>
                    <p style="color: #bdbdbd ">Deadline for full paper/Revised extended abstract submission and early bird registration</p>
                </li>
                <li>
                    <h2>13th AUGUST 2017</h2>
                    <p>On site registration Conference begins</p>
                </li>
            </ul>
        </div>
    </div>