<!DOCTYPE html>
<head>
  <title>DIPCON - 18th IWA International Conference</title>
  <% include partials/dependencies %>
  <link rel="stylesheet" href="/css/common.min.css" type='text/css'>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-93462907-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body id="dipcon">
  <% include partials/header %>
  <main>
    <div class="header-img">
      <img src="/img/tahoe.png"/>
    </div>
    <div class="container">
      <div class="row">
        <h1 class="col l5 m5 s12">About DIPCON</h1>
        <div id="dipcon-list" class="col l7 m7 s12">
          <ul>
            <li class="flow-text">Since 1993, the IWA Diffuse Pollution Specialist Group has organized
	      international conferences. The Specialist Group has grown by merging
	      with Eutrophication Specialist Group in 2006. Since 2011, the Diffuse
	      Pollution and Eutrophication Specialist Group has organized biennial
	      international and regional conferences in different parts of the world. At
	      the international DIPCON, the specialist group exchanges new
	      knowledge among researchers and practitioners to discuss diverse
	      pollution issues, making connections between science and policy.</li>
            <li class="flow-text">The DIPCON addresses the latest and innovative approaches to
	      fundamental and applied research. Among its specific interest are
	      stormwater management, monitoring and modelling, pollution control
	      and best management practices (BMPs), sustainable urban drainage
	      systems, reuse and resource efficiency, climate change adaptation
	      related to diffuse pollution and eutrophication. The DIPCON strives to
	      broaden international recognition on the subject as a leading platform
	      for advancing and diffusing scientific knowledge.</li>
          </ul>
          <img style='width: 100%'src='/img/map.png'/>
        </div>
      </div>
      
    </div>
  </main>
  <% include partials/footer %>
</body>



<!--  <div class="row">
      <div class="section">
        <div class="title">
          DIPCON
        </div>
        <div class="text">
          <li>Since 1993, the IWA Diffuse Pollution Specialist Group has organized
	    international conferences. The Specialist Group has grown by merging
	    with Eutrophication Specialist Group in 2006. Since 2011, the Diffuse
	    Pollution and Eutrophication Specialist Group has organized biennial
	    international and regional conferences in different parts of the world. At
	    the international DIPCON, the specialist group exchanges new
	    knowledge among researchers and practitioners to discuss diverse
	    pollution issues, making connections between science and policy.</li>
	  <br>
	  <li>The DIPCON addresses the latest and innovative approaches to
	    fundamental and applied research. Among its specific interest are
	    stormwater management, monitoring and modelling, pollution control
	    and best management practices (BMPs), sustainable urban drainage
	    systems, reuse and resource efficiency, climate change adaptation
	    related to diffuse pollution and eutrophication. The DIPCON strives to
	    broaden international recognition on the subject as a leading platform
	    for advancing and diffusing scientific knowledge.</li>
</ul>
</div>
</div>

</div> -->
