<!DOCTYPE html>
<head>
	<title>Extended Abstract - 18th IWA International Conference<</title>
	<% include partials/dependencies %>
   <link rel="stylesheet" href="/css/common.min.css" type='text/css'>
   <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93462907-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
	<% include partials/header %>
	<main >
 <div class="header-img">
                    <img  src='/img/dam.jpg'/>
                    <p class='credit'>Courtesy of 
William Preston Bowling</p>
                </div>
        <div class="container">
        <div class="row">
        <h1>Extended Abstract Submission</h1>
            <h2 class="col l5 m5 s12">Guideline</h2>
            <ul class="col offset-l1 l6 m6 s12">
                <li>Authors willing to have their papers considered for platform or poster presentation will be required to submit a maximum of  2 pages of text (A4 or Letter) including the title, keywords, main text and illustrations (i.e. tables, figures, etc), with a limit of 1000 words. Abstract submission must be in plain English and clearly define the objectives, status, methodology, findings and significance of the investigation or study.</li>
                <li>Please indicate your preference if the abstract is to be presented as oral or poster.
</li>
                <li>In order to speed up the review process, authors must ensure that their submitted papers are according to the <a href='/Extended Abstract Template.docx' download>template</a>.
</li>
                <li>Authors are invited to submit their extended abstract via the conference website no later than <strong>April 5, 2017</strong>. 
</li>
                <li>If the abstract is accepted for platform/poster presentation, a full paper can be submitted (optional), which can be reviewed for publication in the peer-reviewed journals.
</li>
<li><a href='/submission/extended_abstract/submit'>Please click here for abstract submission</a>
</li>
            </ul>

</li>

        </ul>
        </div>
        </div>
    </main>
    <% include partials/footer %>
</body>



        <!-- <div class="container">
          
      
      
  



</div> -->
