<!DOCTYPE html>
<head>
  <title>Full Paper - 18th IWA International Conference</title>
  <% include partials/dependencies %>
  <link rel="stylesheet" href="/css/common.min.css" type='text/css'>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-93462907-1', 'auto');
    ga('send', 'pageview');

  </script>

</head>
<body id="submit_paper_revised_abstract">
  <% include partials/header %>
  <main>
    <div class="header-img">
      <img src="/img/dam.jpg">
    </div>


    <div class="container">
      <div class="row">
	<h1 class="center">Paper & Revised Abstract</h1>

	<h2 class="col l5 m5 s12">Paper Submission</h2>
	<ul class="col offset-l1 l6 m6 s12">

	  <li>A full paper is required to be submitted with a maximum of  8 pages of text (A4 or Letter).
	    Paper submission must be in plain English and clearly define the objectives, status,
	    methodology, findings and significance of the investigation or study. Authors must ensure that
	    their submitted papers are according to the <a href='/full_paper_template.doc' download>template (a word file linked)</a>.
	  </li>
	  
	  <li>Authors are invited to submit their full paper via the conference website no later than <strong>June 15, 2017</strong>. </li> <!-- Must bold the date -->

	  
	  <li>Please indicate your preference of consideration for publication in the peer-reviewed journals.</li>

	<li><a href='/submit/revised_extended_abstract' target='_blank'>Please click here for revised extended abstract submission</a>
	</li>

	<li><a href='/submit/full_paper' target='_blank'>Please click here for full paper submission</a>
	</li>

	</ul>

	<h2 class="col l5 m5 s12">Journal Publication</h2>
	<ul class="col offset-l1 l6 m6 s12">

	  <li> Full papers accepted will be reviewed for publication in one of the journals, including:</li>
	    <ol>
	      <li>
		<a href="http://wst.iwaponline.com/" target='_blank'>
	      Water Science and Technology</a>
	    </li>
	      <li>
		<a href="https://www.journals.elsevier.com/desalination" target='_blank'>
	      Desalination</a></li>
	      <li>
		<a href="https://www.journals.elsevier.com/journal-of-environmental-sciences" target='_blank'>
		  Journal of Environmental Sciences</a> (pending approval)
		  
	    </li>
	    </ol>
	  <li>
	    Please note that acceptance of a paper for conference presentation does not guarantee subsequent acceptance for journal publication, the final decision on journal publication lies with the journals’ Editor-in-Chief.
	  </li>

	</ul>

	
	<h2 class="col l5 m5 s12">Awards</h2>
	<ul class="col offset-l1 l6 m6 s12">
	  <li>Best Poster Award will be given to the most outstanding poster.</li>
	  <li>People’s Choice Best Poster Award will be given to the best poster selected by public vote</li>
	
  </main>
  <% include partials/footer %>
</body>
