<!DOCTYPE html>
<head>
	<title>Diffuse Pollution and Eutrophication Conference</title>
	<% include partials/dependencies %>
	<link rel="stylesheet" href="css/index.css" type='text/css'>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-93462907-1', 'auto');
		ga('send', 'pageview');

	</script>
</head>
<body>
	<% include partials/header %>
	<main>

		<% include landing %>
		<div class="container">


			<% include dates %>
			<div class="divider"></div>

			<h2 style="color: black; margin-bottom: 40px">The <a href="/Program.pdf" download style="color: blue">final program</a> is now available!</h2>
			<h2 style="color: red">Online <a href="/registration">registration</a> is now open.</h2>
			<!--<p style="font-size: 2em; font-weight: 200; text-align: center">
			  On-site registration will be open on Sunday between 12:30 - 7:00 pm and
			  on Monday starting at 8 am. The location is Synergy room, Level 2, Luskin
			  Center.</p>-->
				<div class="divider"></div>
				<div class="row">
				<div class="col l4 s12">
					<h1 style='text-align: center; color: #0091ea'>Plenary Speakers</h1>
				</div>
				<div class="col l8 s12">
				<div class="row">
					<div class="speaker col l4 s4">
						<img src='/img/pitt.png'>
						<h4>Robert Pitt</h4>
						<p>Emeritus Professor,<br> University of Alabama</p>
						<p><i>Monitoring and modeling of green infrastructure at
different watershed scales</i></p>
					</div>
					<div class="speaker col l4 s4">
					  <img src='/img/gold.png'>
					  <h4>Mark Gold</h4>
					  <p>Vice Chancellor for Environment and Sustainability UCLA</p>
					  <p><i>Los Angeles Stormwater: From Pollution Source to Water Supply</i></p>
					</div>
					<div class="speaker col l4 s4">
					  <img src='/img/strecker.png'>
					  <h4>Eric Strecker</h4>
					  <p>Senior Principal Water Resources Engineer, GeoSyntec</p>
					  <p><i>Improving the Resiliency of Stormwater Management Systems</i></p>
					</div>
				</div>
				</div>
				</div>

				<div class="row">
				  <div class="col l4 s12">
				    <h1 style='text-align: center; color: #0091ea; font-size: 45px'>Special Exhibit:<br>Art + Environment</h1>
				    <p style="text-align: center; font-size: 25px">The exhibit is open to public</p>
				  </div>
				  <div class="col l8 s12">
				    <div class="row">
				      <div class="speaker col l4 s4">
					<img src='/img/uno.jpg' style="height: 288px; width: 256px">
					<h4 style="font-size: 30px">Michael Stenstrom</h4>
				      </div>
				      <div class="speaker col l4 s4">
					<img src='/img/dos.jpg' style="height: 288px; width: 256px">
					<h4>Robert “Bob” Pitt</h4>
				      </div>
				      <div class="speaker col l4 s4">
					<img src='/img/tres.png' style="height: 288px; width: 256px">
					<h4>Teresa Young</h4>
				      </div>
				    </div>
				  </div>

				  
				</div>

				<br>
			</div>
		</main>
				<div class="row">
				  <h1 style="text-align: left; margin-left: 90px">Supported By</h1>
				</div>
				<div class="row" style="text-align: center">
				  <div class="col m2 l2 s2">
				    <img src="/logos/ucla_logo.png" style="height: 144px; width: 144px">
				  </div>


				  <div class="col m2 l2 s2">
				    <img src="/logos/City of LA.gif" style="height: 144px; width: 144px">
				  </div>

				  <div class="col m2 l2 s2">
				    <img src="/logos/epa.png" style="height: 144px; width: 144px">
				  </div>


				  <div class="col m2 l2 s2">
				    <img src="/logos/NASA logo.jpg" style="height: 144px; width: 144px">
				  </div>

				  <div class="col m2 l2 s2">
				    <img src="/logos/JPL_logo.png" style="height: 144px; width: 160px">
				  </div>

				  <div class="col m2 l2 s2">
				    <img src="/logos/boeing-logo.jpg" style="height: 144px; width: 160px">
				  </div>
								  
				</div>
				<br>
				<div class="row">
				  <h1 style="text-align: left; margin-left: 90px">Sponsored By</h1>
				</div>
				<div class="row" style="text-align: center">
				  <div class="col offset-l1 m4 l3 s3">
				    <img src="/logos/TIIWE.gif" style="height: 144px; width: 280px">
				  </div>


				  <div class="col m2 l2 s2">
				    <img src="/logos/Bronze_MWD3.jpg" style="height: 144px; width: 144px">
				  </div>

				  <div class="col m3 l3 s3">
				    <img src="/logos/CDMSmith_logo_print_RGB_BlueGR_RT.jpg" style="height: 144px; width: 220px">
				  </div>


				  <div class="col m3 l2 s2">
				    <img src="/logos/HDR_Logo_4C.jpg" style="height: 144px; width: 144px">
				  </div>

				</div>
				<br>
				<div class="row" style="text-align: center">

				  <div class="col offset-l1 m3 l2 s2">
				    <img src="/logos/W&C-Logo-Blue.jpg" style="height: 144px; width: 144px">
				  </div>

				  <div class="col m3 l3 s3">
				    <img src="/logos/GSI.jpg" style="height: 144px; width: 244px">
				  </div>

				  
				  <div class="col m3 l2 s2">
				    <img src="/logos/alpert-alpert-logo.jpg" style="height: 144px; width: 190px">
				  </div>


				  <div class="col m3 l3 s3">
				    <img src="/logos/DisneyResearch.jpg" style="height: 144px; width: 244px">
				  </div>
				</div>
				<br>
				<div class="row" style="text-align: center">
				  <div class="col offset-l1 m3 l2 s2">
				    <img src="/logos/TRC Logo (Color cmyk).jpg" style="height: 144px; width: 220px">
				  </div>

				  <div class="col m3 l3 s3">
				    <img src="/logos/geosyntec.png" style="height: 144px; width: 260px">
				  </div>

				  <div class="col m2 l2 s2">
				    <img src="/logos/ovivo.jpg" style="height: 144px; width: 220px">
				  </div>

				  <div class="col offset-l1 offset-m1 m2 l2 s2">
				    <img src="/logos/Hazen&Sawyer.jpg" style="height: 144px; width: 220px">
				  </div>
				</div>

		<% include partials/footer %>
	</body>