<!DOCTYPE html>
<head>
  <title>Program at a Glance - 18th IWA International Conference</title>
  <% include partials/dependencies %>
  <link rel="stylesheet" href="/css/common.min.css" type='text/css'>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-93462907-1', 'auto');
    ga('send', 'pageview');

  </script>

</head>


<body id="submit_presentation_guideline">
  <% include partials/header %>
  <main>
    <div class="header-img">
      <img src="/img/newport.png">
    </div>

    <div class="container">
    <div class="row">
      <h1 class="center">Program at a Glance</h1>
      <!--
      <img style="padding-top: 25px; width: 100%" src='/img/overview.png'/>
      -->
      <center>
	       <img style="width: 100%" src="/img/finalized_overview.png">
      </center>
      <font size='6px'>
      <center>Please click <a href="/Program.pdf" download>here</a> for the Program Brochure.</center>
      </font>
    </div>
    </div>
  </main>
  <% include partials/footer %>
</body>
