<!DOCTYPE html>
<head>
  <title>Registration - 18th IWA Conference, Los Angeles</title>
  <% include partials/dependencies %>
  <link rel="stylesheet" href="/css/common.min.css" type='text/css'>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-93462907-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body id="themes">
  <% include partials/header %>
  <main>
    <div class="header-img">
      <img src='/img/damn.png'/>
    </div>
    <div class="container">
      <h1 class="center">Registration</h1>
      <div class="row">
        <div class="divider"></div>
        <h4 style="text-align: center">Online registration is now open</h4>
<!--        <p style="text-align: center">On-site registration will be open on Sunday between 12:30 - 7:00 pm and
	  on Monday starting at 8 am.<br>The location is Synergy room, Level 2, Luskin
	  Center</p>-->
	
        <div class="divider"></div>
        <div class="col l4 s12 "><h2>Conference<br>Fees</h2>
          <p style='font-weight:300'>Early Registration ends June 15<br>
            Late Registration ends August 12 <br>
            All fees are in USD($)</p>
        </div>
        <table class="bordered col s12 l8 ">
          <thead>
            <tr>
              <th data-field="class" rowspan="4"> </th>
              <th data-field="sub-class"> </th>
              <th data-field="early" style="color: #bdbdbd ">Early Bird<br> ~ June 15</th>
              <th data-field="late">Late<br> ~Aug 12</th>
              <th data-field="onsite">On Site<br> Aug 13~14</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan="4">High income country </td>
              <td>Non IWA</td>
              <td style="color: #bdbdbd ">660</td>
              <td>770</td>
              <td>880</td>
            </tr>
            <tr>
              <td>IWA</td>
              <td style="color: #bdbdbd ">550</td>
              <td>660</td>
              <td>770</td>
            </tr>
            <tr>
              <td>Student</td>
              <td style="color: #bdbdbd ">275</td>
              <td>385</td>
              <td>495</td>
            </tr>
            <tr>
              <td>Spouse</td>
              <td style="color: #bdbdbd ">275</td>
              <td>385</td>
              <td>495</td>
            </tr>

            <tr>
              <td rowspan="4">Low income country</td>
              <td>Non IWA</td>
              <td style="color: #bdbdbd ">440</td>
              <td>550</td>
              <td>660</td>
            </tr>
            <tr>
              <td>IWA</td>
              <td style="color: #bdbdbd ">330</td>
              <td>440</td>
              <td>550</td>
            </tr>
            <tr>
              <td>Student</td>
              <td style="color: #bdbdbd ">220</td>
              <td>330</td>
              <td>440</td>
            </tr>
            <tr>
              <td>Spouse</td>
              <td style="color: #bdbdbd ">220</td>
              <td>330</td>
              <td>440</td>
            </tr>

          </tbody>
        </table>
      </div>
      
</div>
  <div class="container">
    <div class="row" style="margin-left: 2px">
        <font size="1">
          *Full Registration fee includes:  Admission to all Sessions and Exhibition,
          Welcome Reception, Breakfast, Lunch and Coffee breaks (Aug 14-16), and Conference bag.
          <br>
          *Accompanying Person Registration fee includes: Admission to all sessions,
          Welcome Reception, Breakfast, Lunch and Coffee breaks (Aug 14-16).</font>
        <br>
	<br>
	<font size="5">
          <a href='/register'>Please click here for registration</a>
    </div>
  </div>
  
  <div class="container">
    <ul>
      <li>
        Accomodation: we have guest rooms in the Luskin Conference Center with special
        rates for delegates. Check the hotel and make your reservation at <a href='/venue'>Venue</a>
      </li>
      <li> HIC/LIC Classification: IWA operates a High / Low Income Country classification for its membership and registration fees based on your country of residence and not on your country of origin. Please refer to the <a href="/IWA Country Classification.pdf">IWA Country Classification table.</a></li>
      <li>To become an IWA member, <a href="https://iwa-connect.org/subscribe#/explore-subscriptions">join now</a></li>
      <li>Visa/Invitation Letter 
      <ul style="font-size: 0.7em; margin-left: 15px; ">
        <li>Participants are advised to obtain a <a href="https://travel.state.gov/content/visas/en/visit/visitor.html">visa</a> in advance</li>
        <li>The Conference Secretariat provides the invitation letter upon request (if registered and fully paid)</li>                               
      </ul>
      </li>
      </ul>
    </div>
  </div>
    </main>
    <% include partials/footer %>
    </body>
