<!DOCTYPE html>
<head>
	<title>Upload Success - 18th IWA International Conference</title>
	<% include partials/dependencies %>
    <link rel="stylesheet" href="/css/common.min.css" type='text/css'>

</head>
<body >
	<% include partials/header %>
	<main>
    <div class="container">
        <h1>Upload Success!</h1>
        <a href="javascript:history.back()">Go Back</a>
    </div>
    </main>
</body>
