<!DOCTYPE html>
<head>
  <title>Program - 18th IWA International Conference</title>
  <% include partials/dependencies %>
  <link rel="stylesheet" href="/css/common.min.css" type='text/css'>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-93462907-1', 'auto');
    ga('send', 'pageview');

  </script>

</head>
<body>
  <% include partials/header %>
  <main>
    <div class="header-img">
      <img src="/img/social.jpg">
    </div>




    <div class="container">
      <div class="row">
	<h1 class="center">Social Events</h1>

	<h2 class="col l5 m5 s12">Welcome Reception</h2>
	<ul class="col offset-l1 l6 m6 s12">

	  <li>Centennial Terrace, Level 3
	    Luskin Conference Center</li>
	  
	  <li>Aug 13, Sunday, 7:00 pm</li>
	  <li>7-8 PM: hosted bar (unlimited drinks)</li>
	  <li>After 8 PM: credit bar (accepting credit card only)</li>
      </div>

      <div class="row">
	<h2 class="col l5 m5 s12">Gala Dinner</h2>
	<ul class="col offset-l1 l6 m6 s12">

	  <li>Exploration Room, Level 2
	    Luskin Conference Center</li>
	  
	  <li>Aug 15, Tuesday, 7:00 PM</li>
      </div>


          <!-- Hide for now
  
      <div class="row">
	<h2 class="col l5 m5 s12">YWP Campus tour in UCLA</h2>
	<ul class="col offset-l1 l6 m6 s12">
	  <li>TBA</li>
	  <li></li>	
      </div>
      -->

	  
	  <div class="row">
	    <div class="col l5 m5 s12">
	      <h2>Gala Speaker</h2>
	      <img src="/madelyn.jpg" style="width: 82%">
	    </div>
	    <ul class="col offset-l1 l6 m6 s12">
	      <li><strong>Madelyn Glickfeld</strong> is the Director of the UCLA Water Resources Group for the
UCLA Institute of the Environment and Sustainability, or IoES. She is also Vice
Chair of the Los Angeles Regional Water Quality Control Board and has been a
member since 2008, appointed by Governors Schwarzenegger and Brown.
Prior to that, she served as Assistant Secretary of the Natural Resources
Agency. From 1986-1996 she was a member of the California Coastal
		Commission.</li>
	      <li>
		Madelyn Glickfeld has reported on impacts and responses to the California
drought in the California Legislature, at the Governor’s Office, state agencies
like the State Water Resources Control Board, and at local water agencies.
She has done research on the extremely complex governance of water supply,
water treatment and stormwater management in Los Angeles County, a
legacy of the 19th and 20th Century. She is currently working on a multiyear
pilot project to treat polluted drinking water with smart treatment systems
designed for small disadvantaged communities at an affordable price. She has
done work on urban water distribution system efficiency as a conservation
		strategy, and how smart water technology can improve water efficiency.
		</li>
	  </div>

	        
      <div class="row">
	<h2 class="col l5 m5 s12">Breakfast</h2>
	<ul class="col offset-l1 l6 m6 s12">

	  <li>Restaurant, Level 1</li>
	  
      </div>


      
      <div class="row">
	<h2 class="col l5 m5 s12">Lunch</h2>
	<ul class="col offset-l1 l6 m6 s12">

	  <li>Restaurant, Level 1</li>
	  
      </div>


      

      <div class="row">
	<h2 class="col l5 m5 s12">Coffee Breaks</h2>
	<ul class="col offset-l1 l6 m6 s12">
	  <li>Nutrition Hub (South), Level 2</li>
      </div>
  </main>
  <% include partials/footer %>
</body>
