<!DOCTYPE html>
<head>
  <title>Program - 18th IWA International Conference</title>
  <% include partials/dependencies %>
  <link rel="stylesheet" href="/css/common.min.css" type='text/css'>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-93462907-1', 'auto');
    ga('send', 'pageview');

  </script>

  <style>
    .small-text{
      font-size: 1.2em !important;
    }
  </style>

</head>

<body>
  <% include partials/header %>
  <main class="page">

    <div class="container">
      <h1>Plenary Speakers</h1>
      <div class="row blockquote">
        <div class="col l3 s4">
          <img style="padding-top: 25px; width: 100%" src='/portraits/robert.jpg'/>
          <p class="ack">Robert Pitt</p>
        </div>
        <blockquote class="col l9 s8 small-text">
Bob Pitt is the Emeritus Cudworth Professor of Urban Water Systems in the Department
of Civil, Construction, and Environmental Engineering at the University of Alabama,
where he recently retired after 14 years. He taught at UAB for 14 years before coming to
the Tuscaloosa campus. Prior to his academic career, Pitt was a senior engineer in
industry and government for 16 years. He has conducted more than $10 million in
research concerning the effects, sources, and control of urban runoff during his academic
career. He has written more than 100 publications, including journal articles, book
chapters, research reports, and several books. He is a registered Engineer (WI) and a
Board Certified Environmental Engineer by the American Academy of Environmental
Engineers. He has also served on numerous professional committees in the U.S. and
abroad, including the Committee on Beneficial uses of Graywater and Stormwater and
the Committee on Reducing Stormwater Discharge Contributions to Water Pollution of
the National Academy of Science; and has directed several project review panels for the
Water Environment Research Foundation. Recently, he and his graduate students have
conducted research focusing on integrating green infrastructure controls in combined
sewer areas; characterization and treatment of emerging contaminants in wet weather
flows; and development and testing of stormwater treatment systems.        </blockquote>
      </div>

      
      <div class="row">
        <div class="row blockquote">
          <div class="col l3 s4">
            <img style="padding-top: 25px; width: 100%" src='/portraits/mark.jpg'/>
            <p class="ack">Mark Gold</p>
          </div>
          <blockquote class="col l9 s8 small-text">
	    Mark Gold formerly served as President of the environmental group Heal the Bay, and was their first employee hired 20 years ago. Heal the Bay is an environmental group dedicated to making Southern California coastal waters and watersheds, including Santa Monica Bay, safe, healthy and clean. He received his Bachelors and Masters in Biology and his doctorate in Environmental Science and Engineering from UCLA. He has been inducted into the UCLA School of Public Health Hall of Fame, and has received the James Irvine Foundation Leadership Award and the Aspen Institute Catto Fellowship.
	    <br>
	    <br>
	    Mark Gold has worked extensively over the last 20 years in the field of coastal protection and water pollution. In particular he has worked on research projects on urban runoff pollution, DDT and PCB contamination in fish, and the health risks of swimming at runoff contaminated beaches. He created Heal the Bay’s Beach Report Card, and has authored or co-authored numerous California coastal protection, water quality and environmental education bills. He served on the USEPA Urban Stormwater Federal Advisory Committee and was the vice chair of the California Ocean Science Trust and is vice chair of the National Estuary Program’s Santa Monica Bay Restoration Commission. Mark Gold was recently appointed Associate Vice Chancellor for Environment and Sustainability.
	  </blockquote>
        </div>
      </div>
      
      <div class="row">
        <div class="row blockquote">
          <div class="col l3 s4">
            <img style="padding-top: 25px; width: 100%" src='/portraits/eric.jpg'/>
            <p class="ack">Eric Strecker</p>
          </div>
          <blockquote class="col l9 s8 small-text">
	    Eric Strecker is a Senior Principal Water Resources Engineer at GeoSyntec with more than 30 years of experience focused on the design, monitoring, and evaluation of stormwater best management practices (BMPs) and the development of major project and watershed master plans.
	    <br>
	    <br>
	    Eric has provided technical direction and assistance to public and private sector clients in stormwater master planning, National Pollutant Discharge Elimination System (NPDES) permitting, total maximum daily loads (TMDLs), Endangered Species Act compliance, contaminated sediment source control, and surface water pollution assessment and control.
	    <br>
	    <br>
	    Eric earned the 2003 Civil Engineering State-of-the-Art Award from the American Society of Civil Engineers for his work on BMP technology applications. In 2012, he was named a Board Certified Environmental Engineer (BCEE) by eminence, an accreditation bestowed by the American Academy of Environmental Engineers and Scientists (AAEES). Eric has authored or co-authored more than 60 publications on stormwater planning, low impact development approaches, and the effectiveness of BMP technologies addressing contaminated sediment source controls as well as salmon and Endangered Species Act water quality requirements.
	  </blockquote>
        </div>
      </div>



      
  </main>
  <% include partials/footer %>
</body>
