<!DOCTYPE html>
<head>
	<title>Workshop - 18th IWA International Conference</title>
	<% include partials/dependencies %>
   <link rel="stylesheet" href="/css/common.min.css" type='text/css'>
   <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93462907-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
	<% include partials/header %>
	<main >
 <div class="header-img">
                    <img  src='/img/farm.jpg'/>
                </div>
        <div class="container">
        <div class="row">
        <h1 class="col l5 m6 s12">Workshop</h1>
        <ul class="col offset-l1 l6 m6 s12">
            <li>Workshop/Special sessions can complement the main DIPCON technical sessions or provide practical information/deeper insight into DIPCON topics. Workshop/Special Session themes should be closely related to DIPCON main conference topics but we also encourage workshops/Special Sessions in emerging areas.</li>
            <li>Workshop proposals should include the following: 
            <ul class='level2-list'>
                <li>workshop title
</li>
                <li>workshop organizers' names, affiliations, and email addresses
</li>
                <li>workshop goal, theme, and topics of interest 
</li>
                <li>prospective speakers/organizations (names, affiliations) 
</li>
                <li>expected number of workshop sessions
</li>
                <li>expected attendees (affiliations, numbers)
</li>
            </ul>
	    </li>

	    	<li>
		<h5><a href='/submit/workshop'>Please click here for Workshop Proposal Submission </a></h5>
	</li>

        </ul>
        </div>
        </div>
    </main>
	<% include partials/footer %>

	
</body>



        <!-- <div class="container">
          
      
      
  



</div> -->
