<!DOCTYPE html>
<head>
	<title>Themes - 18th IWA International Conference</title>
	<% include partials/dependencies %>
    <link rel="stylesheet" href="/css/common.min.css" type='text/css'>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93462907-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body id="themes">
	<% include partials/header %>
	<main>
    <div class="header-img">
                    <img  src='/img/thunder.jpg'/>
                </div>
    <div class="container">
        <div class="row">
                <h1 class="col l5 m5 s12">Conference Topics</h1>
            <div class="col offset-l1 l6 m6 s12">
                <ul id="themes-list">
                     <li>Diffuse Pollution from urban/semi-arid areas and their impacts</li>


<li>Diffuse Pollution from rural/agricultural areas and their impacts</li>


<li>Eutrophication and harmful algal blooms</li>


<li>Impacts of extreme events and climate change</li>


<li>Applications of remote sensing and internet of things</li>


<li>Sustainable urban development and green infrastructure</li>


<li>Modelling diffuse pollution and watershed water quality</li>


<li>Integrated watershed/basin management</li>


<li>Fate and transport of chemical contaminants and pathogens from diffuse sources</li>


<li>Groundwater recharge and replenishment</li>


<li>Emerging contaminants and micropollutants</li>


<li>Governance & policy</li>


<li>Water economics</li>
                </ul>
            </div>
        </div>
    </div>
    </main>
  <% include partials/footer %>
</body>


    <!-- <div class="row">
    <div class="section">
        <div class="title ">
            Themes
        </div>
        <div class="text">
            <ul id="themes-list"><h4>Programme Topics</h4>
                <li>Diffuse Pollution from urban/semi-arid areas and their impacts</li>


<li>Diffuse Pollution from rural/agricultural areas and their impacts</li>


<li>Eutrophication and harmful algal blooms</li>


<li>Impacts of extreme events and climate change</li>


<li>Applications of remote sensing and internet of things</li>


<li>Sustainable urban development and green infrastructure</li>


<li>Modelling diffuse pollution and watershed water quality</li>


<li>Integrated watershed/basin management</li>


<li>Fate and transport of chemical contaminants and pathogens from diffuse sources</li>


<li>Groundwater recharge and replenishment</li>


<li>Emerging contaminants and micropollutants</li>


<li>Governance & policy</li>


<li>Water economics</li>
            </ul>
        </div>
    </div>
        
    </div> -->