<!DOCTYPE html>
<head>
  <title>Technical Tours - 18th IWA International Conference</title>
  <% include partials/dependencies %>
  <link rel="stylesheet" href="/css/common.min.css" type='text/css'>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-93462907-1', 'auto');
    ga('send', 'pageview');

  </script>

</head>
<body id="tours">
  <% include partials/header %>
  <main>
    <div class="header-img">
      <img src="/img/kayak.jpg">
    </div>

    <div class="container">
    <div class="row">
      <h1 class="center">Technical Tours</h1>

      <div class="col l5 m5 s12">
      <h2>Los Angeles Stormwater Program Sites</h2>
      <img style="width: 100%" src='/img/geyser.jpg' align="bottom"/>
      </div>

      <ul class="col offset-l1 l6 m6 s12">

	<li>The City of Los Angeles’ award-winning Stormwater Program focuses on both flood control and pollution abatement. Los Angeles develops and constructs capital improvement projects to capture trash, clean up urban runoff and retain storm water for beneficial uses. Funding from various federal, state and local grants as well as voter-approved Proposition O ($ 500 million) provides for the construction of flood control and pollution abatement projects which range from the rehabilitation of local lakes to the construction of coastal low-flow diversions, from the installation of catch basin opening covers to the maintenance of the municipal storm drain system. This technical tour itinerary includes Proposition O stormwater treatment sites..</li>
	
      </ul>
    </div>
    <div class="row">
      <div class="col l5 m5 s12">
	<h2>Santa Susana<br>clean up site</h2>
	<img style="width: 100%" src='/img/susana.jpg' align="bottom"/>
      </div>
      
    <ul class="col offset-l1 l6 m6 s12">
      <li>The Santa Susana Field Laboratory (SSFL) is located 30 miles northwest of downtown Los Angeles in southeastern Ventura County. A former rocket engine test and nuclear research facility, the 2,849-acre field laboratory is currently the focus of a comprehensive environmental investigation and cleanup program. The cleanup program addresses contamination in soil, groundwater and, furthering progress toward restoration and preservation of ecosystem. </li>
    </ul>
    </div>


    <div class="row">
      <div class="col l5 m5 s12">
	
	<h2>Spreading Grounds</h2>
	<img style="width: 100%" src='/img/grounds1.jpg' align="left"/>
	<img style="width: 100%" src='/img/grounds2.jpg' align="left"/>

      </div>
      
      <ul class="col offset-l1 l6 m6 s12">
	<li>The use of spreading grounds adjacent to river channels and in soft-bottom channels permits water to percolate into groundwater basins for later pumping to conserve the maximum possible amount of storm water and other waters. These groundwater recharge facilities are located in areas where the underlying soils are composed of permeable formations and in hydraulic connection with the underlying aquifer. About 30 to 40 percent of the water used in the County is pumped from groundwater supplies. </li>
      </ul>
    </div>

    <center>
      <p>The proposed technical tour itineraries can change if the number of
	participation does not meet the minimum that is required.</p>
    </center>
    
  </main>
  <% include partials/footer %>
</body>
