<!DOCTYPE html>
<head>
	<title>Venue - 18th IWA International Conference</title>
	<% include partials/dependencies %>
    <link rel="stylesheet" href="/css/common.min.css" type='text/css'>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93462907-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body id="venue">
	<% include partials/header %>
	<main>
    <div class="header-img">
                    <img src='img/venue.png'/>
                </div>
        <div class="container">
            <div class="row">
                <h1> The Venue </h1>
                <h2 class="col l5 m5 s12">The Luskin Conference Center, UCLA</h2>
                <p class="col offset-l1 l6 m6 s12">
                    The conference will be held in our new 254 room Luskin Conference Center. The Center was completed in July 2016 and represents the latest in technology and architectural design for a meeting facility. It is in the heart of the UCLA Campus in west Los Angeles and is in walking distance of all campus locations as well as Westwood village. Our nearby attractions include the Getty and Hammer Museums as well as our famous beaches and Hollywood locations. 
                </p>
                </div>
            <div class="row">
                <h2 class="col l5 m5 s12">Accomodation</h2>
                <p class="col offset-l1 l6 m6 s12">
                    <a href='http://luskinconferencecenter.ucla.edu/'>Luskin Conference Center</a>: $225 per room per night (for either single or double room), no tax will be charged. This is competitive rate in the neighborhood and please make your accommodation arrangements as soon as possible to enjoy your stay.
                    Since the hotel cutoff date has passed, there is a slight change in
booking a room at Luskin Center. In order to get the conference rate
($225/night), you can go to the Luskin Center website and make a
reservation with the best available price and then email <a href="mailto:Lcc_reservations@ha.ucla.edu">Lcc_reservations@ha.ucla.edu</a>, specifying your reservation is for IWA
DIPCON 2017. The Luskin Center will assist you to adjust your reservation
to conference rate as long as rooms are available.
		    <br>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3305.012905641087!2d-118.4479066856151!3d34.06918342428627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bc8602a90341%3A0xd73874d4f138751a!2sUCLA+Meyer+and+Renee+Luskin+Conference+Center!5e0!3m2!1sen!2sus!4v1485936035474" width="400" height="350" frameborder="0" style="{border:0; margin-right: 20px;}" allowfullscreen></iframe>
                </p>
                
            </div>
            <div class="row">
                <h2 class="col l5 m5 s12">Getting to UCLA</h2>
                <ul class="col offset-l1 l6 m6 s12" >
                    <li><a href='http://www.lawa.org/welcome_lax.aspx?id=132'>Ground Transportation from Los Angeles International Airport (LAX)</a></li>
                    <li><a href='https://main.transportation.ucla.edu/getting-to-ucla/travel-options/flyaway'>FlyAway</a>: Nonstop shuttle service to and from LAX. The FlyAway airport shuttle offers hourly direct service to and from LAX and short/long-term parking options in partnership with UCLA</li>
		    <li>
		      Luskin Center provides a ride at free of charge for those using FlyAway.
		      Please email their front desk staff at <a href="mailto:lcc@ha.ucla.edu">lcc@ha.ucla.edu</a> to schedule your
		      shuttle pickup from Lot 32.
		    </li>
                    <li><a href="https://main.transportation.ucla.edu/getting-around-campus/campus-maps">UCLA Campus Maps</a></li>
                </ul>
            </div>
            <div class="row">
                <h2 class="col l5 m5 s12">Parking</h2>
                <p class="col offset-l1 l6 m6 s12"><a href='https://main.transportation.ucla.edu/campus-parking/visitors'>Parking at UCLA</a>/Westwood Village is challenging. Public transportation is highly recommended.</p>
            </div>
	    
	    <div class="row">
              <h2 class="col l5 m5 s12">Luskin Conference Center Floor Plans</h2>
              <p class="col offset-l1 l6 m6 s12">Please click <a href='/Floorplans.pdf'>here</a> for the Luskin Conference Center floor plans.</p>
            </div>

        </div>
    </main>
  <% include partials/footer %>
</body>

