<!DOCTYPE html>
<head>
	<title>Welcome - 18th IWA International Conference</title>
	<% include partials/dependencies %>
   <link rel="stylesheet" href="css/common.min.css" type='text/css'>
   <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93462907-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
	<% include partials/header %>
	<main class="page">
  <div class="header-img">
                    <img  src='img/royce.png'/>
                </div>
        <div class="container">
        <h1>Welcome</h1>
            <div class="row blockquote">
            <div class="col l3 s4">
            <img style="padding-top: 25px; width: 100%" src='/img/ms.png'/>
            <p class="ack">Michael K. Stenstrom, Ph.D.<br> Conference Chair</p>
            </div>
                <blockquote class="col l9 s8">
              We are excited to be sponsoring the 18th DIPCON conference at UCLA. The conference will sponsor
              urban themes in diffuse pollution control, which includes approximately 20 years of efforts of the City
              and County of Los Angeles to reduce both the volume and contamination of urban runoff. We will also
              be soliciting papers from agriculture including California’s large farming areas of the Imperial and San
              Joaquin Valleys. Remote sensing of the environment has become a large part of diffuse pollution
              control and we will be especially interested in applications of remote sensing for environmental
              management. The conference will be organized around four concurrent themes for three days and will
              include poster sessions and sponsor’s exhibits. There will be field trips on Thursday, August 17 to
              facilities featuring interesting applications of diffuse pollution control as well as other environmentally
              interesting locations. We look forward to seeing you in August 2017 in Los Angeles and we are sure that
              you will have an interesting, academically and socially rewarding experience.
                </blockquote>
                </div>
            <div class="row">
            <div class="row blockquote">
            <div class="col l3 s4">
              <img style="padding-top: 25px; width: 100%" src='/img/mpark.jpg'/>
              <p class="ack">Mi-Hyun Park, Ph.D.<br>IWA DIPCON Chair/Conference Co-chair</p>
            </div>
                <blockquote class="col l9 s8">
          I am happy to welcome the IWA DIPCON 2017 to Los Angeles, which is its third time in the USA in our
          24-year history. Los Angeles is one of the most populous cities in the world and a global city with
          diverse culture, science, technology and research. LA’s recent sustainability plan is for a cleaner
          environment, including protecting waters. Due to its Mediterranean climate and recent droughts,
          stormwater capture and groundwater replenishment are major issues in LA. With LA’s attractive
          location in California and cultural assets, we hope to attract high-quality research from all over the
          world. We would like to invite you to this wonderful opportunity to meet with international experts on
          non-point source pollution control and eutrophication. We look very much forward to seeing you in LA!
                </blockquote>
            </div>
        </div>
    </main>
    <% include partials/footer %>
</body>



        <!-- <div class="container">
          
      
      
  



</div> -->