<!DOCTYPE html>
<head>
  <title>Young Water Professional - 18th IWA International Conference</title>
  <% include partials/dependencies %>
  <link rel="stylesheet" href="/css/common.min.css" type='text/css'>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-93462907-1', 'auto');
    ga('send', 'pageview');

  </script>

</head>
<body id="ywp">
  <% include partials/header %>
  <main>
    <div class="header-img">
      <img src="/img/waterfall.jpg">
    </div>

    <div class="container">
    <div class="row">
      <h1 class="center">Young Water Professional</h1>

      <p style="text-align:center">
	<a href="http://www.iwa-network.org/young-water-professionals/"> Please click here for the IWA YWP Network.</a>
      </p>

      <h2 class="col l5 m5 s12">Mentoring: <br> Meet and chat with Mentors</h2>

      <ul class="col offset-l1 l6 m6 s12">

	<li>Mentors may specify their free time and availability during the conference to sit and chat with YWPs</li>
	
	<li>Schedule of Mentoring Program will be available in the YWP desk at the registration booth</li>
	
      </ul>
    </div>
    <div class="row">
    <h2 class="col l5 m5 s12">Workshop</h2>

    <ul class="col offset-l1 l6 m6 s12">
      <li>Invited speakers/peer YWPs to talk about diffuse pollution and eutrophication issues and promotion of YWP activities</li>

      <li>YWPs take part in the interactive discussion, may ask questions, etc.</li>
      </ul>

    </div>
  </main>
  <% include partials/footer %>
</body>
